<h1>Articles Tagged with <%= @tag.name %></h1>
<ul>
    <% @tag.articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
</ul>
  <br></br>
  <br></br>
  <br></br> 
<h3><%= link_to "All tags", tags_path %></h3>
